# Ignore everything
*

# Except index.html at root
!.gitignore
!/index.html
!/LICENSE
!/assets/
assets/*
!/assets/favicon.svg
!/posts.json
!/insights-workflow.html
!/.github/
!/.github/workflows/
!/.github/workflows/update-posts.yml
